{% extends 'base.html' %}

{% block content %}

    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle  Tepasi  -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">
                        Toshkent davlat stomatologiya institutining axborot almashinuv platformasi
                    </h4>
                    <div class="ms-auto text-end">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">
                                        Dashboard
                                    </a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Library
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  jami, yangi, jarayonda, bajarilgan, muddati o'tgan  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Sales Cards  -->
            <!-- ============================================================== -->

            <div class="row">
                <!-- Column -->
                <div class="col-md-6 col-lg-3 col-xlg-3">
                    <div class="card card-hover">
                        <div class="box bg-cyan text-center">
                            <h1 class="font-light text-white">
                                <i class="mdi mdi-view-dashboard"></i>
                            </h1>
                            <h6 class="text-white">Barcha hatlar {{ jami }}</h6>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <div class="col-md-6 col-lg-3 col-xlg-3">
                    <div class="card card-hover">
                        <div class="box bg-success text-center">
                            <h1 class="font-light text-white">
                                <i class="mdi mdi-chart-areaspline"></i>
                            </h1>
                            <h6 class="text-white">Bajarilgan {{ bajarilgan }}</h6>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <div class="col-md-6 col-lg-3 col-xlg-3">
                    <div class="card card-hover">
                        <div class="box bg-warning text-center">
                            <h1 class="font-light text-white">
                                <i class="mdi mdi-collage"></i>
                            </h1>
                            <h6 class="text-white">Nazoratda {{ nazoratda }}</h6>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <div class="col-md-6 col-lg-3 col-xlg-3">
                    <div class="card card-hover">
                        <div class="box bg-danger text-center">
                            <h1 class="font-light text-white">
                                <i class="mdi mdi-border-outside"></i>
                            </h1>
                            <h6 class="text-white">Muddati o'tgan {{ muddati_utgan }}</h6>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <!-- Column -->
            </div>
            {% block center %}
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title text-success">Yangi bo'lim qo'shish</h3>
                                <form action="" class="form-horizontal" method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label class="center" for="">
                                                Bo'lim nomi:
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" name="center_name" class="form-control"
                                                   placeholder="col-md-8"/>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="text" name="center_short" class="form-control"
                                                   placeholder="col-md-4"/>
                                        </div>
                                        <div class="col-md-2">
                                            <button class="btn btn-outline-success col-md-12" type="submit">+ Yangi bo'lim qo'shish</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
            <!-- ============================================================== -->
            <div class="mt-3">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar"
                         style="width: 100%" aria-valuenow="10" aria-valuemin="0"
                         aria-valuemax="100">
                    </div>
                </div>
            </div> <!-- Chiziq -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Xatlar</h5>
                            <div class="table-responsive">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->

        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->

        <footer class="footer text-center">
            All Rights Reserved by Matrix-admin. Designed and Developed by
            <a href="https://www.wrappixel.com">
                TalantDeveloper
            </a>.
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>


{% endblock %}
