{% extends 'base.html' %}

{% block content %}

    <div class="page-wrapper">
        <div class="container-fluid">
            <!-- row -->
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title mb-0">Xatning dastlabki ma'lumotlari</h5>
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Nazorat kartasining turi:</th>
                                <th scope="col">{{ manager.letter.control_card }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Guruhi:</td>
                                <td>{{ manager.letter.group }}</td>
                            </tr>
                            <tr>
                                <td>Muhbir:</td>
                                <td>{{ manager.letter.reporter }}</td>
                            </tr>
                            <tr>
                                <td>Hujjat turi:</td>
                                <td>{{ manager.letter.document_type }}</td>
                            </tr>

                            <tr>
                                <td><a href="#" class="link">Hujjat raqami</a></td>
                                <td>{{ manager.letter.document_number }}</td>
                            </tr>
                            <tr>
                                <td><a href="#" class="link">Hujjat sanasi</a></td>
                                <td>{{ manager.letter.document_date|date:'d-m-Y' }}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title mb-0">Institut ichidagi ma'lumotlar</h5>
                        </div>
                        <table class="table">
                            <tbody>
                            <tr>
                                <th scope="col">Ro'yhatga olingan raqami:</th>
                                <th scope="col">{{ manager.letter.registration_number }}</th>
                            </tr>

                            <tr>
                                <td><a href="#" class="link">Ro'yhatga olingan sana</a></td>
                                <td>{{ manager.letter.registration_date|date:'d-m-Y' }}</td>
                            </tr>

                            <tr>
                                <td><a href="#" class="link">Qaror muallifi:</a></td>
                                <td>{{ manager.letter.auth_resolution }}</td>
                            </tr>
                            <tr>
                                <td><a href="#" class="link">Yechim turi:</a></td>
                                <td>{{ manager.letter.type_solution }}</td>
                            </tr>
                            <tr>
                                <td><a href="#" class="link">Rezolutsiya:</a></td>
                                <td>{{ manager.letter.resolution }}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title mb-0">Visited Pages</h5>
                        </div>
                        <table class="table">
                            <tbody>
                            <tr>
                                <td><a href="#" class="link">Muddat:</a></td>
                                <td>{{ manager.lifetime|date:'d-m-Y' }}</td>
                            </tr>
                            <tr>
                                <td><a href="#" class="link">Buyruq:</a></td>
                                <td>
                                    <i class="mdi mdi-cloud-download font-20"></i>
                                    <a href="{{ manager.check_file.file.url }}" target="_blank">
                                        xat fayli
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#" class="link">Markaz:</a></td>
                                <td>{{ center }}</td>
                            </tr>
                            <tr>
                                <td><a href="#" class="link">Xodim</a></td>
                                <td>{{ center.user.first_name }} {{ center.user.last_name }}</td>
                            </tr>
                            <tr>
                                <td><a href="#" class="link">Javob fayl</a></td>
                                <td>
                                    {% if manager.control_file %}
                                        <a href="{{ manager.control_file.file.url }}">
                                            <i class="mdi mdi-cloud-download font-20"></i>
                                            Fayl
                                        </a>
                                    {% else %}
                                        Javob xati yo'q
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#" class="link">Xulosa:</a></td>
                                <td>{{ manager.letter.summary }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End PAge Content -->

            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <form action="" class="form-horizontal" method="post" enctype="multipart/form-data">
                                {% csrf_token %}

                                <!-- Yechim turi: -->
                                <div class="form-group row">
                                    <label for="fname" class="col-sm-3 text-start control-label col-form-label">
                                        Yechim turi:
                                    </label>
                                    <!-- yechim turi -->
                                    <div class="col-md-9">
                                        <label>
                                            <select class="select2 form-select shadow-none"
                                                    style="width: 100%; height: 36px" name="type_solution">
                                                <option value="{{ manager.letter.type_solution }}">
                                                    {{ manager.letter.type_solution }}
                                                </option>
                                                {% for type_solution in type_solutions %}
                                                    <option value="{{ type_solution.name }}">{{ type_solution.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </label>
                                    </div>
                                </div>
                                <!-- tugadi Yechim turi: -->

                                {% if manager.control_file %}
                                    <div class="">
                                        <label for="fname" class="">
                                            Javob fayl:
                                            <a href="{{ manager.control_file.file.url }}">
                                                {{ manager.control_file }}
                                            </a>
                                        </label>
                                    </div>
                                {% endif %}


                                <div class="form-group row">
                                    <label for="fname" class="col-md-3 text-start control-label col-form-label">
                                        Javob fayl:
                                    </label>
                                    <div class="col-sm-9">
                                        <input type="file" name="control_file" class="form-control"
                                               id="validatedCustomFile"/>
                                        <div class="invalid-feedback">
                                            Example invalid custom file feedback
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="cono1" class="col-sm-3 text-start control-label col-form-label">
                                        Xulosa
                                    </label>
                                    <div class="col-sm-9">
                                        <label>
                                            <textarea class="form-control" name="summary" rows="3"
                                                      cols="50">{{ manager.letter.summary }}</textarea>
                                        </label>
                                    </div>
                                </div>

                                {% if center.user.is_superuser %}
                                    <div class="form-group row">
                                        <label class="col-md-3">Checkboxes</label>
                                        <div class="col-md-9">
                                            <div class="form-check mr-sm-2">
                                                <input type="checkbox" class="form-check-input"
                                                       id="customControlAutosizing1" name="control" value="ok"/>
                                                <label class="form-check-label mb-0" for="customControlAutosizing1">
                                                    Tasdiqlash
                                                </label>
                                            </div>
                                            <div class="form-check mr-sm-2">
                                                <input type="checkbox" class="form-check-input"
                                                       id="customControlAutosizing2" name="control" value="no"/>
                                                <label class="form-check-label mb-0" for="customControlAutosizing2">
                                                    Rad etish
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                <span class="center">
                                    <input class="btn btn-primary center" type="submit" value="XATNI SAQLASH">
                                </span>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
