{% extends 'base.html' %}
{% load static %}
{% block content %}


    
    <link rel="stylesheet" type="text/css" href="{% static 'assets/libs/select2/dist/css/select2.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/libs/jquery-minicolors/jquery.minicolors.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/libs/quill/dist/quill.snow.css' %}"/>

    <div class="page-wrapper">

        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <form class="form-horizontal" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="card-body">
                                <h4 class="card-title">Xat yuborish</h4>
                                <!-- Nazorat kartasining turi:  Тип РКК-->
                                <div class="form-group row">
                                    <label for="fname" class="col-sm-3 text-end control-label col-form-label">
                                        Nazorat kartasining turi:
                                    </label>
                                    <!-- Nazorat kartasining turi:  Тип РКК-->
                                    <div class="col-md-9">
                                        <label>
                                            <select class="select2 form-select shadow-none"
                                                    style="width: 100%; height: 36px" name="control_card">
                                                <option>Tanlang</option>
                                                {% for control_card in control_cards %}
                                                    <option value="{{ control_card.name }}">{{ control_card.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </label>
                                    </div>
                                </div>
                                <!-- tugadi Nazorat kartasining turi:  Тип РКК-->
                                <!-- Guruhi -->
                                <div class="form-group row">
                                    <label for="fname" class="col-sm-3 text-end control-label col-form-label">
                                        Guruh:
                                    </label>
                                    <!-- Guruh -->
                                    <div class="col-md-9">
                                        <label>
                                            <select class="select2 form-select shadow-none"
                                                    style="width: 100%; height: 36px" name="group">
                                                <option>Tanlang</option>
                                                {% for group in groups %}
                                                    <option value="{{ group.name }}">{{ group.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </label>
                                    </div>
                                </div>
                                <!-- tugadi Guruhi -->

                                <!-- Корреспондент Muhbir -->
                                <div class="form-group row">
                                    <label for="fname" class="col-sm-3 text-end control-label col-form-label">
                                        Muhbir:
                                    </label>
                                    <!-- Muhbir -->
                                    <div class="col-md-9">
                                        <label>
                                            <select class="select2 form-select shadow-none"
                                                    style="width: 100%; height: 36px" name="reporter">
                                                <option>Tanlang</option>
                                                {% for reporter in reporters %}
                                                    <option value="{{ reporter.name }}">{{ reporter.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </label>
                                    </div>
                                </div>
                                <!-- Tugadi Корреспондент Muhbir -->

                                <!-- Тип документа Hujjat turi -->
                                <div class="form-group row">
                                    <label for="fname" class="col-sm-3 text-end control-label col-form-label">
                                        Hujjat turi:
                                    </label>
                                    <!-- Hujjat turi -->
                                    <div class="col-md-9">
                                        <label>
                                            <select class="select2 form-select shadow-none"
                                                    style="width: 100%; height: 36px" name="document_type">
                                                <option>Tanlang</option>
                                                {% for document_type in document_types %}
                                                    <option value="{{ document_type.name }}">{{ document_type.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </label>
                                    </div>
                                </div>
                                <!-- tugadi Тип документа Hujjat turi -->

                                <div class="mt-3">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped" role="progressbar"
                                             style="width: 100%" aria-valuenow="10" aria-valuemin="0"
                                             aria-valuemax="100">
                                        </div>
                                    </div>
                                </div>  <!-- chiziq -->

                                <!-- Ro'yhatga olingan raqami va sanasi -->
                                <div class="form-group row">
                                    <label for="fname" class="col-md-6 control-label col-form-label">
                                        Ro'yhatga olingan raqami:
                                    </label>
                                    <label for="fname" class="col-md-6 text-end control-label col-form-label">
                                        Ro'yhatga olingan sana:
                                    </label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control col-md-6" id="fname"
                                               placeholder="0124" name="registration_number"/>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="date" class="form-control col-md-6" id="fname"
                                               name="registration_date"/>
                                    </div>
                                </div>
                                <!-- tugadi Ro'yhatga olingan raqami va sanasi Тип документа: -->

                                <hr>

                                <!-- Hujjat sanasi va raqami Дата документа: -->
                                <div class="form-group row">
                                    <label for="fname" class="col-md-6 control-label col-form-label">
                                        Hujjat raqami:
                                    </label>
                                    <label for="fname" class="col-md-6 text-end control-label col-form-label">
                                        Hujjat sanasi:
                                    </label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="fname"
                                               placeholder="03-456" name="document_number"/>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="date" class="form-control" id="fname"
                                               name="document_date"/>
                                    </div>

                                </div>
                                <!-- tugadi Hujjat sanasi va raqami Дата документа: -->

                                <div class="mt-3">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped" role="progressbar"
                                             style="width: 100%" aria-valuenow="10" aria-valuemin="0"
                                             aria-valuemax="100">
                                        </div>
                                    </div>
                                </div> <!-- Chiziq -->
                                <br>
                                <br>
                                <!-- Muddat Срок: -->
                                <div class="form-group row">
                                    <label for="fname" class="col-sm-3 text-end control-label col-form-label">
                                        Bajarilish muddati:
                                    </label>
                                    <div class="col-sm-9">
                                        <input type="date" class="form-control" id="fname"
                                               name="lifetime"/>
                                    </div>
                                </div>
                                <!-- tugadi Muddat Срок: -->

                                <!-- Rezolutsiya Резолюция: -->
                                <div class="form-group row">
                                    <label for="cono1" class="col-sm-3 text-end control-label col-form-label">
                                        Rezolutsiya
                                    </label>
                                    <div class="col-sm-9">
                                        <label>
                                            <textarea class="form-control" name="resolution"></textarea>
                                        </label>
                                    </div>
                                </div>
                                <!-- tugadi Rezolutsiya Резолюция: -->

                                <!-- Qaror muallifi: -->
                                <div class="form-group row">
                                    <label for="fname" class="col-sm-3 text-end control-label col-form-label">
                                        Qaror muallifi:
                                    </label>
                                    <!-- qaror muallifi -->
                                    <div class="col-md-9">
                                        <label>
                                            <select class="select2 form-select shadow-none"
                                                    style="width: 100%; height: 36px" name="auth_resolution">
                                                <option>Tanlang</option>
                                                {% for author_resolution in author_resolutions %}
                                                    <option value="{{ author_resolution.name }}">{{ author_resolution.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </label>
                                    </div>
                                </div>
                                <!-- tugadi Qaror muallifi: -->

                                <!-- Yechim turi: -->
                                <div class="form-group row">
                                    <label for="fname" class="col-sm-3 text-end control-label col-form-label">
                                        Yechim turi:
                                    </label>
                                    <!-- yechim turi -->
                                    <div class="col-md-9">
                                        <label>
                                            <select class="select2 form-select shadow-none"
                                                    style="width: 100%; height: 36px" name="type_solution">
                                                <option>Tanlang</option>
                                                {% for type_solution in type_solutions %}
                                                    <option value="{{ type_solution.name }}">{{ type_solution.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </label>
                                    </div>
                                </div>
                                <!-- tugadi Yechim turi: -->

                                <!-- Buyruq fayl yuklash: -->
                                <div class="form-group row">
                                    <label for="fname" class="col-sm-3 text-end control-label col-form-label">
                                        Buyruq:
                                    </label>
                                    <div class="col-sm-9">
                                        <input type="file" name="check_file" class="form-control"
                                               id="validatedCustomFile" required/>
                                        <div class="invalid-feedback">
                                            Example invalid custom file feedback
                                        </div>
                                    </div>
                                </div>
                                <!-- tugadi Buyruq fayl yuklash: -->

                                <div class="">
                                    <label for="centers">Bo'limlarni tanlang:</label>
                                    <label for="cars"></label>
                                    <select name="centers" id="cars" multiple="multiple"
                                                                      style="width: 350px" size="15">
                                    
                                    {% for center in centers %}
                                        <option value="{{ center.name }}">
                                            {{ center.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                                </div>
                                <br><br>
                            </div>
                        
                            <span class="center">
                                <input class="btn btn-primary center" type="submit" value="XATNI SAQLASH">
                            </span>
                            
                        </form>
                        <br>
                    
                    </div>
                </div>
            </div>

            <!-- ============================================================== -->
            <!-- Right sidebar -->
            <!-- ============================================================== -->
            <!-- .right-sidebar -->
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->

    </div>


    <script src="{% static 'assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js' %}"></script>
    <script src="{% static 'dist/js/pages/mask/mask.init.js' %}"></script>
    <script src="{% static 'assets/libs/select2/dist/js/select2.full.min.js' %}"></script>
    <script src="{% static 'assets/libs/select2/dist/js/select2.min.js' %}"></script>
    <script src="{% static 'assets/libs/jquery-asColor/dist/jquery-asColor.min.js' %}"></script>
    <script src="{% static 'assets/libs/jquery-asGradient/dist/jquery-asGradient.js' %}"></script>
    <script src="{% static 'assets/libs/jquery-asColorPicker/dist/jquery-asColorPicker.min.js' %}"></script>
    <script src="{% static 'assets/libs/jquery-minicolors/jquery.minicolors.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'assets/libs/quill/dist/quill.min.js' %}"></script>
    <script>
        //***********************************//
        // For select 2
        //***********************************//
        $(".select2").select2();

        /*colorpicker*/
        $(".demo").each(function () {
            //
            // Dear reader, it's actually very easy to initialize MiniColors. For example:
            //
            //  $(selector).minicolors();
            //
            // The way I've done it below is just for the demo, so don't get confused
            // by it. Also, data- attributes aren't supported at this time...they're
            // only used for this demo.
            //
            $(this).minicolors({
                control: $(this).attr("data-control") || "hue",
                position: $(this).attr("data-position") || "bottom left",

                change: function (value, opacity) {
                    if (!value) return;
                    if (opacity) value += ", " + opacity;
                    if (typeof console === "object") {
                        console.log(value);
                    }
                },
                theme: "bootstrap",
            });
        });
        /*datwpicker*/
        jQuery(".mydatepicker").datepicker();
        jQuery("#datepicker-autoclose").datepicker({
            autoclose: true,
            todayHighlight: true,
        });
        var quill = new Quill("#editor", {
            theme: "snow",
        });
    </script>

{% endblock %}
