{% extends 'base.html' %}

{% block content %}

    <div class="page-wrapper">
        <div class="container-fluid">
            <!-- row -->
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title mb-0">Xat ma'lumotlari</h5>
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Nazorat kartasining turi:</th>
                                <th scope="col">{{ manager.letter.control_card }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Guruhi:</td>
                                <td>{{ manager.letter.group }}</td>
                            </tr>
                            <tr>
                                <td>Muhbir:</td>
                                <td>{{ manager.letter.reporter }}</td>
                            </tr>
                            <tr>
                                <td>Hujjat turi:</td>
                                <td>{{ manager.letter.document_type }}</td>
                            </tr>

                            <tr>
                                <td><a href="#" class="link">Hujjat raqami</a></td>
                                <td>{{ manager.letter.document_number }}</td>
                            </tr>
                            <tr>
                                <td><a href="#" class="link">Hujjat sanasi</a></td>
                                <td>{{ manager.letter.document_date|date:'d-m-Y' }}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title mb-0">Website statistics</h5>
                        </div>
                        <table class="table">
                            <tbody>
                            <tr>
                                <th scope="col">Ro'yhatga olingan raqami:</th>
                                <th scope="col">{{ manager.letter.registration_number }}</th>
                            </tr>

                            <tr>
                                <td><a href="#" class="link">Ro'yhatga olingan sana</a></td>
                                <td>{{ manager.letter.registration_date|date:'d-m-Y' }}</td>
                            </tr>

                            <tr>
                                <td><a href="#" class="link">Qaror muallifi:</a></td>
                                <td>{{ manager.letter.auth_resolution }}</td>
                            </tr>
                            <tr>
                                <td><a href="#" class="link">Yechim turi:</a></td>
                                <td>{{ manager.letter.type_solution }}</td>
                            </tr>
                            <tr>
                                <td><a href="#" class="link">Rezolutsiya:</a></td>
                                <td>{{ manager.letter.resolution }}</td>
                            </tr>
                            <tr>
                                <td><a href="#" class="link">Xulosa:</a></td>
                                <td>{{ manager.letter.summary }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title mb-0">Visited Pages</h5>
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Page</th>
                                <th scope="col">Visits</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><a href="#" class="link">Muddat:</a></td>
                                <td>{{ manager.lifetime|date:'d-m-Y' }}</td>
                            </tr>
                            <tr>
                                <td><a href="#" class="link">Buyruq:</a></td>
                                <td><a href="{{ manager.check_file.file.url }}">File</a></td>
                            </tr>
                            <tr>
                                <td><a href="#" class="link">Markaz:</a></td>
                                <td>{{ center }}</td>
                            </tr>
                            <tr>
                                <td><a href="#" class="link">Xodim</a></td>
                                <td>{{ center.user.first_name }} {{ center.user.last_name }}</td>
                            </tr>
                            <tr>
                                <td><a href="#" class="link">Javob fayl</a></td>
                                <td>
                                    <a href="{{ manager.control_file.file.url }}">
                                        Fayl
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End PAge Content -->

            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <form action="" class="form-horizontal">
                                {% if manager.control_file %}

                                {% endif %}

                                <div class="form-group row">
                                    <label class="col-md-3">Checkboxes</label>
                                    <div class="col-md-9">
                                        <div class="form-check mr-sm-2">
                                            <input type="checkbox" class="form-check-input"
                                                   id="customControlAutosizing1"/>
                                            <label class="form-check-label mb-0" for="customControlAutosizing1">
                                                First
                                            </label>
                                        </div>
                                        <div class="form-check mr-sm-2">
                                            <input type="checkbox" class="form-check-input"
                                                   id="customControlAutosizing2"/>
                                            <label class="form-check-label mb-0" for="customControlAutosizing2">
                                                Second One
                                            </label>
                                        </div>
                                        <div class="form-check mr-sm-2">
                                            <input type="checkbox" class="form-check-input"
                                                   id="customControlAutosizing3"/>
                                            <label class="form-check-label mb-0" for="customControlAutosizing3">
                                                Third One
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
