{% extends 'base.html' %}

{% block content %}

    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle  Tepasi  -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    
                    <div class="ms-auto text-end">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="{% url 'main:welcome' %}">
                                        E-xat Stomatologiya
                                    </a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    welcome
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  jami, yangi, jarayonda, bajarilgan, muddati o'tgan  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Sales Cards  -->
            <!-- ============================================================== -->
            <div class="row">
                <!-- Column -->
                <div class="col-md-6 col-lg-3 col-xlg-3">
                    <div class="card card-hover">
                        <div class="box bg-cyan text-center">
                            <h1 class="font-light text-white">
                                <i class="mdi mdi-view-dashboard"></i>
                            </h1>
                            <h6 class="text-white">Barcha hatlar {{ jami }}</h6>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <div class="col-md-6 col-lg-3 col-xlg-3">
                    <div class="card card-hover">
                        <div class="box bg-success text-center">
                            <h1 class="font-light text-white">
                                <i class="mdi mdi-chart-areaspline"></i>
                            </h1>
                            <h6 class="text-white">Bajarilgan {{ bajarilgan }}</h6>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <div class="col-md-6 col-lg-3 col-xlg-3">
                    <div class="card card-hover">
                        <div class="box bg-warning text-center">
                            <h1 class="font-light text-white">
                                <i class="mdi mdi-collage"></i>
                            </h1>
                            <h6 class="text-white">Nazoratda {{ nazoratda }}</h6>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <div class="col-md-6 col-lg-3 col-xlg-3">
                    <div class="card card-hover">
                        <div class="box bg-danger text-center">
                            <h1 class="font-light text-white">
                                <i class="mdi mdi-border-outside"></i>
                            </h1>
                            <h6 class="text-white">Muddati o'tgan {{ muddati_utgan }}</h6>
                        </div>
                    </div>
                </div>
                <!-- Column -->

                <!-- Column -->
            </div>
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Xatlar</h5>
                            <div class="table-responsive">
                                <table id="zero_config" class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Reg / №</th>
                                        <th>Reg sana</th>
                                        <th>Nazorat kartasi</th>
                                        <th>Hujjat turi</th>  <!-- Вид документа -->
                                        <th>Muhbir</th>  <!-- Корреспондент Muhbir -->
                                        <th>Muddat</th>  <!-- Срок Muddat -->
                                        <th><i class="mdi mdi-settings fs-8"></i></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for manager in managers %}
                                        {% if manager.check_control %}
                                            <tr class="alert alert-success">
                                                <td>
                                                    <a href="{% url 'main:manager-view' manager.id %}">
                                                    <span class="btn btn-outline-success d-flex align-items-center justify-content-center ">
                                                        {{ manager.id }}
                                                    </span>
                                                    </a>
                                                </td>
                                                <td>{{ manager.letter.registration_number }}
                                                    / {{ manager.letter.document_number }}</td>
                                                <td>{{ manager.letter.registration_date|date:'d-m-Y' }}</td>
                                                <td>{{ manager.letter.control_card }}</td>
                                                <td>{{ manager.letter.document_type }}</td>
                                                <td>{{ manager.letter.reporter }}</td>
                                                <td>{{ manager.lifetime|date:'d-m-Y' }}
                                                    {#                                                {{ manager.lifetime|timeuntil }}#}
                                                </td>
                                                <td>
                                                    <a href="{% url 'main:welcome' %}">
                                                    <span class="btn btn-success btn-circle d-flex align-items-center justify-content-center ">
                                                        <i class="mdi mdi-pencil text-white fs-4"></i>
                                                    </span>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% elif manager.time_off %}
                                            <tr class="alert alert-danger">
                                                <td>
                                                    <a href="{% url 'main:manager-view' manager.id %}">
                                                    <span class="btn btn-outline-danger d-flex align-items-center justify-content-center ">
                                                        {{ manager.id }}
                                                    </span>
                                                    </a>
                                                </td>
                                                <td>{{ manager.letter.registration_number }}
                                                    / {{ manager.letter.document_number }}</td>
                                                <td>{{ manager.letter.registration_date|date:'d-m-Y' }}</td>
                                                <td>{{ manager.letter.control_card }}</td>
                                                <td>{{ manager.letter.document_type }}</td>
                                                <td>{{ manager.letter.reporter }}</td>
                                                <td>{{ manager.lifetime|date:'d-m-Y' }}
                                                </td>
                                                <td>
                                                    <a href="{% url 'main:manager-view' manager.id %}">
                                                    <span class="btn btn-danger btn-circle d-flex align-items-center justify-content-center ">
                                                        <i class="mdi mdi-pencil text-white fs-4"></i>
                                                    </span>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% elif manager.controlled %}
                                            <tr class="alert alert-warning">
                                                <td>
                                                    <a href="{% url 'main:manager-view' manager.id %}">
                                                    <span class="btn btn-outline-warning d-flex align-items-center justify-content-center ">
                                                        {{ manager.id }}
                                                    </span>
                                                    </a>
                                                </td>
                                                <td>{{ manager.letter.registration_number }}
                                                    / {{ manager.letter.document_number }}</td>
                                                <td>{{ manager.letter.registration_date|date:'d-m-Y' }}</td>
                                                <td>{{ manager.letter.control_card }}</td>
                                                <td>{{ manager.letter.document_type }}</td>
                                                <td>{{ manager.letter.reporter }}</td>
                                                <td>{{ manager.lifetime|date:'d-m-Y' }}
                                                </td>
                                                <td>
                                                    <a href="{% url 'main:manager-view' manager.id %}">
                                                    <span class="btn btn-warning btn-circle d-flex align-items-center justify-content-center ">
                                                        <i class="mdi mdi-pencil text-white fs-4"></i>
                                                    </span>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr class="">
                                                <td>
                                                    <a href="{% url 'main:manager-view' manager.id %}">
                                                    <span class="btn btn-outline-success d-flex align-items-center justify-content-center ">
                                                        {{ manager.id }}
                                                    </span>
                                                    </a>
                                                </td>
                                                <td>{{ manager.letter.registration_number }}
                                                    / {{ manager.letter.document_number }}</td>
                                                <td>{{ manager.letter.registration_date|date:'d-m-Y' }}</td>
                                                <td>{{ manager.letter.control_card }}</td>
                                                <td>{{ manager.letter.document_type }}</td>
                                                <td>{{ manager.letter.reporter }}</td>
                                                <td>{{ manager.lifetime|date:'d-m-Y' }}
                                                    {#                                                {{ manager.lifetime|timeuntil }}#}
                                                </td>
                                                <td>
                                                    <a href="{% url 'main:manager-view' manager.id %}">
                                                    <span class="btn btn-success btn-circle d-flex align-items-center justify-content-center ">
                                                        <i class="mdi mdi-pencil text-white fs-4"></i>
                                                    </span>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endif %}

                                    {% empty %}
                                        <td valign="top" colspan="8" class="dataTables_empty">
                                            Jadvalda ma'lumotlar mavjud emas
                                        </td>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>ID</th>
                                        <th>Reg / №</th>
                                        <th>Reg sana</th>
                                        <th>Nazorat kartasi</th>
                                        <th>Hujjat turi</th>  <!-- Вид документа -->
                                        <th>Muhbir</th>  <!-- Корреспондент Muhbir -->
                                        <th>Muddat</th>  <!-- Срок Muddat -->
                                        <th><i class="mdi mdi-settings fs-8"></i></th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->

        <footer class="footer text-center">
            All Rights Reserved by Matrix-admin. Designed and Developed by
            <a href="https://www.wrappixel.com">
                TalantDeveloper
            </a>.
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>

    {% block home %}

    {% endblock %}



{% endblock %}
