{% extends 'base.html' %}

{% block content %}

    <div class="welcome">
        <div class="table">
            <table id="customers" class="main-table">
                <tr>
                    <th>#</th>
                    <th>Рег №</th>
                    <th>Дата регистрации</th>
                    <th>Тип РКК</th>
                    <th>Вид документа</th>
                    <th>Корреспондент</th>
                    <th>Срок</th>
                    <th>Дней</th>
                    <th><i class="fa fa-spin fa-gear"></i></th>
                </tr>
                {% for manager in managers %}
                    <tr class="">
                        <td class="td-id">
                            <a href="{% url 'main:welcome' %}">
                                {{ manager.letter.id }}
                            </a>
                        </td>
                        <td>
                            {{ manager.letter.registration_number }}
                        </td>

                        <td class="td-doc_date">
                            {{ manager.letter.registration_date }}
                        </td>

                        <td class="td-tipconcart"> <!-- Tip RKK -->
                            {{ manager.letter.control_card }}
                        </td>

                        <td class="td-tip_doc"> <!-- Тип документа Hujjat turi -->
                            {{ manager.letter.document_type }}
                        </td>

                        <td class="td-korrespond"> <!-- Корреспондент Muhbir -->
                            {{ manager.letter.reporter }}
                        </td>

                        <td class="srok-doc"> <!-- Срок Muddat -->
                            {{ manager.letter.lifetime }}
                        </td>

                        <td>
                            <i class="fa fa-check"></i>
                        </td>
                        <td class="td-edit">
                            <a href="{% url 'main:welcome' %}">
                                <i class="order-editor fa fa-edit"></i>
                            </a>
                            <i class="order-remover fa fa-trash"></i>
                        </td>
                    </tr>
                {% empty %}
                    <p>
                        Sizga hozircha hech qanday xat biriktrilmagan.
                    </p>
                {% endfor %}

            </table>

            <form class="delete-order" method="post" action="{% url 'main:welcome' %}" enctype="multipart/form-data">

                {% csrf_token %}
                <input name="id" id="delete_id" type="text" readonly><br><br>
                <nav>
                    <button type="submit">
                        Удалить
                    </button>

                    <a href="">
                        <p>Закрыть
                        </p>
                    </a>
                </nav>

            </form>
        </div>

    </div>

    <br>

    {% block home %}

    {% endblock %}

{% endblock %}
