<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/icons/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/icons/css/font-awesome.min.css' %}">
    <script src="{% static 'js/jquery.js' %}"></script>
    <title>Electron hujjat almashish</title>

</head>
<body>
<div class="container mini-admin">
    <header id="header">
        <a href="{% url 'main:welcome' %}" style="color:#FFF;">
            <nav>
                <img src="{% static 'images/logo-wide.png' %}" alt="alt"/>
                <p>
                    E-Xat
                </p>
            </nav>
        </a>
        <a href="{% url 'main:welcome' %}">
            <p class="title">
                <i class="fa fa-envelope"></i>
                Платформа обмена информацией Ташкентского государственного стоматологического института
            </p>
        </a>

        <span>
            <a href="/">
                <p class="title">
                    <em style="color:tomato" class="fa fa-sign-out"></em>
                    Выход
                </p>
            </a>
            |
            <em>
                <b>{{ center.user.username }}</b>
                <br>
                {{ center }}
            </em>
            <img src="{% static 'images/user.png' %}" alt="/">
        </span>
    </header>
    <div class="main">
        <div class="content">
            <div class="left-bar">
                <ul class="data-sort">
                    {% if center.user_is_status %}
                        <li class="data-sort-otdel">
                            <label for="radio02">
                                <a href="{% url 'main:welcome' %}">
                                    Markaz qo'shish
                                </a>
                            </label>
                        </li>
                        <li class="data-sort-sotrudnik">
                            <label for="radio01">
                                <a href="{% url 'main:welcome' %}">
                                    Xodim qo'shish
                                </a>
                            </label>
                        </li>
                        <br>
                    {% endif %}
                    <li class="data-sort-today">
                        <label for="radio1">
                            <a href="{% url 'main:today' %}">
                                Bugun
                            </a>
                        </label>
                    </li>
                    <a href="{% url 'main:welcome' %}">
                        <li>
                            <label for="radio2">
                                Jami
                            </label>
                        </li>
                    </a>
                    <a class="clgreen" href="{% url 'main:finish' %}">
                        <li>
                            <label for="radio3">

                                Bajarildi

                            </label>
                        </li>
                    </a>
                    <a class="clred" href="{% url 'main:timeout' %}">
                        <li class="clred">
                            <label for="radio4">

                                Muddati o'tgan

                            </label>
                        </li>
                    </a>
                </ul>
                <h3>
                    Сегодния:
                </h3>
                <ul class="main-stat">
                    <li>
                        <i class="fa fa-file-word-o"></i>
                        <p>
                            Hammasi
                        </p>
                        <p>
                            {{ jami }}
                        </p>
                    </li>
                    <li>
                        <i class="fa fa-file-word-o"></i>
                        <p>
                            Nazoratda
                        </p>
                        <p>
                            {{ nazoratda }}
                        </p>
                    </li>
                    <li>
                        <i class="fa fa-file-word-o"></i>
                        <p>
                            Bajarilgan
                        </p>
                        <p>
                            {{ bajarilgan }}
                        </p>
                    </li>
                    <li>
                        <i class="fa fa-file-word-o"></i>
                        <p>
                            Muddati o'tgan
                        </p>
                        <p>
                            {{ muddati_utgan }}
                        </p>
                    </li>
                    <li>
                        <i class="fa fa-file-word-o"></i>
                        <p>
                            Muddati bor
                        </p>
                        <p>
                            {{ muddat_bor }}
                        </p>
                    </li>
                    <br>
                    <hr style="border:none;border-bottom: 1px dashed #ccc;">
                    <br>
                    <li class="<?php if($user[0]->role_id != 3) echo 'none';?>">
                        <a href="{% url 'main:welcome' %}">
                            <p class="clprint">
                                Hisobotni chiqarish
                                <i class="fa fa-print"></i>
                            </p>
                        </a>
                    </li>
                    <p>
                        <SCRIPT language="javascript" type="text/javascript">
                            top_js = "1.0";
                            top_r = "id=37043&r=" + escape(document.referrer) + "&pg=" + escape(wi >
                        </SCRIPT>
                        <SCRIPT language="javascript1.1" type="text/javascript">
                            top_js = "1.1";
                            top_r += "&j=" + (navigator.javaEnabled() ? "Y" : "N")
                        </SCRIPT>
                        <SCRIPT language="javascript1.2" type="text/javascript">
                            top_js = "1.2";
                            top_r += "&wh=" + screen.width + 'x' + screen.height + "&px=" +
                                (((navigator.appName.substring(0, 3) == "Mic")) ? screen.colorDepth : screen.pixel >
                        </SCRIPT>
                        <SCRIPT language="javascript1.3" type="text/javascript">
                            top_js = "1.3";
                        </SCRIPT>
                        <SCRIPT language="JavaScript" type="text/javascript">
                            top_rat = "&col=0063AF&t=ffffff&p=E6850F";
                            top_r += "&js=" + top_js + "";
                            document.wr >
                        </SCRIPT>
                        <NOSCRIPT>
                            <A href="http://www.uz/ru/res/visitor/index?id=37043" target=_top><IMG height=31 sr>
                        </NOSCRIPT>
                    </p>
                </ul>
            </div>

            <div class="main-bar">

                {% block content %}

                {% endblock %}

            </div>
        </div>
    </div>

</div>
</body>

<script type="text/JavaScript" src="{% static 'js/main.js' %}"></script>
</html>
