{% extends 'base.html' %}

{% block content %}
    <div
            id="main-wrapper"
            data-layout="vertical"
            data-navbarbg="skin5"
            data-sidebartype="full"
            data-sidebar-position="absolute"
            data-header-position="absolute"
            data-boxed-layout="full"
    >
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="card">
                    <div class="card-body wizard-content">
                        <h4 class="card-title">Yangi Xodim qo'shish</h4>
                        <h6 class="card-subtitle"></h6>
                        <form id="example-form" action="{% url 'main:add-user' %}" class="mt-5" method="post">
                            {% csrf_token %}
                            <div>
                                <label for="userName">
                                    To'liq ismi *
                                </label>
                                <input id="userName" name="full_name" type="text" class="required form-control"/>
                                <label for="userName">
                                    Foydalanuvchi nomi *
                                </label>
                                <input id="userName" name="username" type="text" class="required form-control"/>
                                <label for="password">Parol *</label>
                                <input id="password" name="password" type="password" class="required form-control"/>
                                <label for="confirm">Parolni qayta yozing *</label>
                                <input id="confirm" name="confirm_password" type="password"
                                       class="required form-control"/>
                                <hr>
                                <label for="fname" class="col-sm-3 control-label col-form-label">
                                    Bo'limni tanlang:
                                </label>
                                <!-- Hujjat turi -->
                                <div class="col-md-9">
                                    <label>
                                        <select class="select2 form-select shadow-none"
                                                style="width: 100%; height: 36px" name="center">
                                            <option>Tanlang</option>
                                            {% for center in centers %}
                                                <option value="{{ center.name }}">{{ center.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                </div>
                            
                                <span class="center" style="display: flex; justify-content: center;">
                                    <input class="btn btn-primary center" type="submit" value="Xodim qo'shish">
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
                All Rights Reserved by Matrix-admin. Designed and Developed by
                <a href="https://www.wrappixel.com">WrapPixel</a>.
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
{% endblock %}